.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.rbc-calendar {
  min-height: 700px ;
  background: white;
  border : none;

}

 .div :hover {

  background-color: #ddd;
  border: 0.1px solid grey;

}



/* ====================Dashboard======================== */

.menuitem{
  color: #932626;
}

.outerdiv{
  padding : 20px;
}

.dashdiv1{
  background-color: white;
  height: 250px;
  width: 200px;
  border-radius: 15px;
}

.dashdiv2{
  background-color: orange;
   border-radius: 15px 15px 0 0;
    height: 100px;
     width: 200px;
      text-align: center;
       padding: 20px; 

}

.dashpopup{
  float: right;
  color: white;
}

.dashdiv3{
  text-align: center;
   padding: 30px;
}

.dashdiv4{
  background-color: white;
  height: 250px;
  width: 513px; 
  border-radius: 15px; 
}

.dashdiv5{
  background-color: lightgreen;
  border-radius: 15px 15px 0 0;
  height: 100px;
  width: 513px;
  text-align: center;
  padding: 20px;
}

@media screen and (max-width:420px){

  .dashdiv5{
  
    height:auto;
    width: auto;
    text-align: center;
    padding: 20px;
  }

  .dashdiv2{
    
     border-radius: 15px 15px 0 0;
      height: auto;
       width: auto;
        text-align: center;
         padding: 20px; 
  
  }

}